@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center">Hello, world!</h1>
<h2 class="text-align-content-center">Welcome to this portfolio management, here you can save information about yourself and your projects</h2>

<h4>You can:</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Save your information, like:
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">
                Your photo
            </li>
            <li class="list-group-item">
                Your description
            </li>
            <li class="list-group-item">
                Your github link
            </li>
            <li class="list-group-item">
                Your Curriculum
            </li>
            <li class="list-group-item">
                Your programming skills
            </li>
        </ol>
    </li>
    <li class="list-group-item">
        Save your projects information, like:
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">
                The name
            </li>
            <li class="list-group-item">
                Images
            </li>
            <li class="list-group-item">
                Description
            </li>
            <li class="list-group-item">
                Project status (To do, In Progress, Finished)
            </li>
            <li class="list-group-item">
                If it has Github url, you can save it
            </li>
            <li class="list-group-item">
                Tools used, like programming languages, frameworks and others
            </li>
        </ol>
    </li>
    <li class="list-group-item">
        You will be able to use your information through an API made by this management
    </li>
</ul>
